@model List<RoachoSLN.Entidades.CRM.Prospectos>


<div class="row">
    <div class="col-lg-12">
        <div class="wrapper wrapper-content animated fadeInUp">

            <div class="ibox">
                <div class="ibox-title">
                    <h5>Tus Prospectos</h5>
                    <div class="ibox-tools">                       
                        <a href="~/Prospectos/Registro" class="btn btn-primary btn-xs">Nuevo Prospecto</a>
                    </div>
                </div>
                <div class="ibox-content">
                    <div class="row m-b-sm m-t-sm">
                        <div class="col-md-1">
                            <button type="button" id="loading-example-btn" class="btn btn-white btn-sm"><i class="fa fa-refresh"></i> Refresh</button>
                        </div>
                        <div class="col-md-11">
                            <div class="input-group">
                                <input type="text" placeholder="Search" class="input-sm form-control"> <span class="input-group-btn">
                                    <button type="button" class="btn btn-sm btn-primary"> Go!</button>
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="project-list">

                        <table class="table table-hover" id="tblprospecto">
                            <tbody>
                                @{
                                    if (Model != null)
                                    {
                                        foreach (RoachoSLN.Entidades.CRM.Prospectos _prospecto in Model)
                                        {
                                            <tr data-id="@_prospecto.id">
                                                <td class="project-status">
                                                    @{ 
                                                        var estatus = @RoachoSLN.BOL.CRM.CatCache.ProspectoEstatus.Where(x => x.id == _prospecto.estatus.GetValueOrDefault()).DefaultIfEmpty(new RoachoSLN.Entidades.CRM.CatProspectoEstatus()).FirstOrDefault();
                                                    }
                                                    <span class="@estatus.estilo">@estatus.estatus</span>
                                                </td>
                                                <td class="project-title">
                                                    <a href="@Url.CustomUrlArea("ID", false)/@_prospecto.id">@_prospecto.compania</a>
                                                    <br />
                                                    <small>Fecha de creacion @DateTimeUtils.TiempoTrascurrido(_prospecto.fec_reg, DateTime.Now)</small>
                                                </td>
                                                <td>@_prospecto.nombre @_prospecto.apellido1 @_prospecto.apellido2</td>
                                                <td>@_prospecto.telefono</td>
                                                <td>@_prospecto.correo</td>
                                                <td class="project-actions">
                                                    <a href="@Url.CustomUrlArea("ID", false)/@_prospecto.id" class="btn btn-white btn-sm"><i class="fa fa-folder"></i> Ver </a>
                                                    <a href="@Url.Action("Editar", "Registro", new { area = "Prospectos" })/@_prospecto.id" class="btn btn-white btn-sm"><i class="fa fa-pencil"></i> Editar </a>
                                                </td>                                            
                                            </tr>
                                        }
                                    }
                                }
                            </tbody>
                            
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


    @section Styles {        
        <link href="@Url.ContentArea("/Views/Inicio/inicio.css")" rel="stylesheet" />
    }


    @section Scripts {        
        <script src="@Url.ContentArea("/Views/Inicio/inicio.js")"></script>

        <script type="text/javascript">
            $(document).ready(function () {
                $("#editable tbody tr").dblclick(function () {
                    var id = $(this).attr("data-id");
                    //window.location.href = "@Url.Action("Editar", "Registro", new { area = "Prospectos" })" + "/" + id;
                    window.location.href = "@Url.CustomUrlArea("ID", false)" + "/" + id;                    
                });
            });
        </script>
    }
