@model RoachoSLN.Entidades.CRM.Prospectos

<div class="row">
    <div class="col-lg-12">
        <div class="wrapper wrapper-content animated fadeInUp">
            <div class="ibox">
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="m-b-md">
                                <a href="@Url.Action("Editar", "Registro", new { area = "Prospectos" })/@Model.id" class="btn btn-white btn-xs pull-right">Edit project</a>
                                <h2>@Model.compania</h2>
                            </div>
                            <dl class="dl-horizontal">
                                <dt>@Html.DisplayNameFor(m => m.iddueño):</dt>
                                <dd>@Model.iddueño</dd>
                                <dt>@Html.DisplayNameFor(m => m.estatus):</dt>
                                <dd>@RoachoSLN.BOL.CRM.CatCache.ProspectoEstatus.Where(x => x.id == Model.estatus.GetValueOrDefault()).DefaultIfEmpty(new RoachoSLN.Entidades.CRM.CatProspectoEstatus()).FirstOrDefault().estatus</dd>
                            </dl>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-5">
                            <dl class="dl-horizontal">
                                <dt>@Html.DisplayNameFor(m => m.nombre):</dt>
                                <dd>@Model.nombre</dd>
                                <dt>@Html.DisplayNameFor(m => m.apellido1):</dt>
                                <dd>@Model.apellido1</dd>
                                <dt>@Html.DisplayNameFor(m => m.apellido2):</dt>
                                <dd>@Model.apellido2</dd>
                                <dt>@Html.DisplayNameFor(m => m.idorigen):</dt>
                                <dd>@RoachoSLN.BOL.CRM.CatCache.Origenes.Where(x => x.id == Model.idorigen.GetValueOrDefault()).DefaultIfEmpty(new RoachoSLN.Entidades.CRM.CatOrigenes()).FirstOrDefault().origen</dd>
                                <dt>@Html.DisplayNameFor(m => m.idindustria):</dt>
                                <dd>@RoachoSLN.BOL.CRM.CatCache.Industrias.Where(x => x.id == Model.idindustria.GetValueOrDefault()).DefaultIfEmpty(new RoachoSLN.Entidades.CRM.CatIndustrias()).FirstOrDefault().industria</dd>
                            </dl>
                        </div>
                        <div class="col-lg-7" id="cluster_info">
                            <dl class="dl-horizontal">
                                <dt>@Html.DisplayNameFor(m => m.telefono):</dt>
                                <dd>@Model.telefono</dd>
                                <dt>@Html.DisplayNameFor(m => m.telefono2):</dt>
                                <dd>@Model.telefono2</dd>
                                <dt>@Html.DisplayNameFor(m => m.celular):</dt>
                                <dd>@Model.celular</dd>
                                <dt>@Html.DisplayNameFor(m => m.correo):</dt>
                                <dd>@Model.correo</dd>
                                <dt>@Html.DisplayNameFor(m => m.pagina):</dt>
                                <dd>@Model.pagina</dd>
                            </dl>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12" id="dvmore" style="display:none">
                            <div class="col-lg-5">
                                <dl class="dl-horizontal">
                                    <dt>@Html.DisplayNameFor(m => m.calle):</dt>
                                    <dd>@Model.calle</dd>
                                    <dt>@Html.DisplayNameFor(m => m.ciudad):</dt>
                                    <dd>@Model.ciudad</dd>
                                    <dt>@Html.DisplayNameFor(m => m.estado):</dt>
                                    <dd>@Model.estado</dd>
                                    <dt>@Html.DisplayNameFor(m => m.codigopostal):</dt>
                                    <dd>@Model.codigopostal</dd>
                                </dl>
                            </div>
                            <div class="col-lg-5">
                                <dl class="dl-horizontal">
                                    <dt>@Html.DisplayNameFor(m => m.ingresos):</dt>
                                    <dd>@Model.ingresos</dd>
                                    <dt>@Html.DisplayNameFor(m => m.numempleado):</dt>
                                    <dd>@Model.numempleado</dd>
                                    <dt>@Html.DisplayNameFor(m => m.calificacion):</dt>
                                    <dd>@Model.calificacion</dd>
                                </dl>
                            </div>
                            <div class="col-lg-12">
                                <dl class="dl-horizontal">
                                    <dt>@Html.DisplayNameFor(m => m.textoextra):</dt>
                                    <dd>@Model.textoextra</dd>
                                </dl>
                            </div>
                        </div>
                        <div class="col-lg-12 text-right">
                            <a onclick="MostrarMasInfo();"><i class="fa fa-ellipsis-h"></i></a>
                        </div>
                    </div>
                    <div class="row m-t-sm">
                        <div class="col-lg-12">
                            <div class="panel blank-panel">
                                <div class="panel-heading">
                                    <div class="panel-options">
                                        <ul class="nav nav-tabs">
                                            <li class="active"><a href="#tab-1" data-toggle="tab">Notas</a></li>
                                            <li class=""><a href="#tab-2" data-toggle="tab">Historial</a></li>
                                        </ul>
                                    </div>
                                </div>

                                <div class="panel-body">

                                    <div class="tab-content">
                                        <div class="tab-pane active" id="tab-1">                                                 
                                            <div class="feed-activity-list">
                                                <div class="feed-element">
                                                    <label class="font-noraml">Agregar Nota:</label>
                                                    <div class="media-body ">                                                        
                                                        <textarea maxlength="500" style="width:100%"></textarea>
                                                    </div>
                                                    <div class="pull-right">
                                                        <a class="btn btn-xs btn-primary"><i class="fa fa-pencil"></i> Agregar</a>
                                                    </div>
                                                </div>
                                                <div class="feed-element">
                                                    <a href="#" class="pull-left">
                                                        <img alt="image" class="img-circle" src="img/a2.jpg">
                                                    </a>
                                                    @foreach (RoachoSLN.Entidades.CRM.ProspectoNota _nota in Model.ProspectoNota)
                                                    {
                                                        <div class="media-body ">
                                                            <small class="pull-right">2h ago</small>
                                                            <strong>Mark Johnson</strong> posted message on <strong>Monica Smith</strong> site. <br>
                                                            <small class="text-muted">@_nota.fecha</small>
                                                            <div class="well">
                                                                @_nota.nota
                                                            </div>
                                                        </div>
                                                    }
                                                    
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tab-pane" id="tab-2">

                                            <table class="table table-striped">
                                                <thead>
                                                    <tr>
                                                        <th>Usuario</th>
                                                        <th>Movimiento</th>
                                                        <th>Fecha</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @foreach (RoachoSLN.Entidades.CRM.ProspectoHistorico _historial in Model.ProspectoHistorico)
                                                    {
                                                        <tr>
                                                            <td>
                                                                @_historial.usuario
                                                            </td>
                                                            <td>
                                                                @_historial.movimiento
                                                            </td>
                                                            <td>
                                                                @DateTimeUtils.TiempoTrascurrido(@_historial.fecha,DateTime.Now)
                                                            </td>
                                                        </tr>
                                                    }
                                                </tbody>
                                            </table>

                                        </div>
                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section Styles {
    <link href="@Url.ContentArea("/Views/Detalle/Detalle.css")" rel="stylesheet" />
}

@section scripts{
    <script src="@Url.ContentArea("/Views/Detalle/Detalle.js")"></script>
}
